/* Reset default margin and padding */
body, h1, h2, p, ul, li {
    margin: 35;
    padding: 0;
}

/* Set body font and background color */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Sidebar styles */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #928282;
    padding-top: 20px;
}

/* Links in the sidebar */
.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #fcfcfc;
    display: block;
    transition: 0.3s;
}

/* Change link color on hover */
.sidebar a:hover {
    color: #d45252;
}

/* Content area styles */
.content {
    margin-left: 250px;
    padding: 20px;
    margin-right: auto; /* Center content */
    max-width: 800px; /* Limit content width */
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Table cell styles */
th, td {
    border: 1px solid black;
    padding: 8px;
}

/* Table header styles */
th {
    background-color: #f2f2f2;
}
/* Center container */
.container {
    text-align: center;
    margin-top: 20vh;
}

/* Center header */
.center {
    display: block;
    margin-bottom: 20px;
    margin: auto;
}
/* Center input fields */
.center div {
    margin-bottom: 10px;
}

/* Button styles */
.button {
    display: inline-block;
    padding: 20px 40px;
    margin: 20px;
    text-decoration: none;
    font-size: 24px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Button hover effect */
.button:hover {
    background-color: #45a049;
}
/* Center form */
form.center {
    display: inline-block;
}