<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Job Listing</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="sidebar">
        <a href="{{ url_for('app_routes.logout') }}">Logout</a>
        <a href="#profile">Profile</a>

    </div>
    <div class="container">
        <h2>Create Job Listing</h2>
        <form method="post">
            <label for="title">Job Title:</label>
            <input type="text" name="title" required><br>

            <label for="description">Job Description:</label>
            <input type="text" name="description" required><br>

            <label for="wage">Wage:</label>
            <input type="text" name="wage" required><br>

            <label for="location">Location:</label>
            <input type="text" name="location" required><br>

            <input type="submit" value="Create Job">
        </form>
        <br>
        <a href="{{ url_for('app_routes.employer_dashboard') }}">Back to Dashboard</a>
    </div>
</body>
</html>
