{% extends 'base.html' %} {% block title %}Employer Dashboard{% endblock %}
{% block content %}

{% include "components/employer_navbar.html" %}
<br/> 
<a href="{{ url_for('app_routes.employer_dashboard') }}" class="mb-3 px-lg-5">
    <i class="bi bi-arrow-left"></i> Back to Dashboard
</a>
    <div class="content">
        <h2>Create Job Listing</h2>
        <form method="post">
            <label for="title">Job Title:</label>
            <input type="text" name="title" required><br>

            <label for="description">Job Description:</label>
            <input type="text" name="description" required><br>

            <label for="wage">Wage:</label>
            <input type="text" name="wage" required><br>

            <label for="location">Location:</label>
            <input type="text" name="location" required><br>

            <input type="submit" value="Create Job">
        </form>
        <br>
 </div>
<br/> <br/> <br/> 
{% endblock %}
