<!DOCTYPE html>
<html>
<head>
    <title>Create Account</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2 class="center">Create Account</h2>
        {% if error_message %}
            <p class="center error">{{ error_message }}</p>
        {% endif %}
        <form class="center" method="post">
            <div class="center">
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username" required><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" required><br>
                <label for="user_type">User Type:</label><br>
                <select id="user_type" name="user_type" required>
                    <option value="worker">Worker</option>
                    <option value="employer">Employer</option>
                </select><br>
                <input type="submit" class="button" value="Create Account">
            </div>
        </form>
        <div class="center">
            <p>Already have an account? <a href="{{ url_for('app_routes.select_user_type') }}">Login</a></p>
        </div>
    </div>
</body>
</html>
