{% extends 'base.html' %} {% block title %}Employer Dashboard{% endblock %}
{% block content %}

{% include "components/employer_navbar.html" %}
<br/>
    <div class="row">
        <div class="ms-auto text-md-left px-4 m-2">
            <a class="mb-3" href="{{ url_for('app_routes.create_job_listing') }}"><b>+ <u>Create New Job</u></b></a>
        </div>
    </div>
    <div class="container">
        <h3 class="mt-1">Your Job Listings</h3>
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Job Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Wage</th>
                        <th scope="col">Location</th>
                        <th scope="col">Pending Applicants</th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in job_listings %}
                    <tr>
                        <td>{{ job['title'] }}</td>
                        <td>{{ job['description'] }}</td>
                        <td>{{ job['wage'] }}</td>
                        <td>{{ job['location'] }}</td>
                        <td>
                            <a href="{{ url_for('app_routes.pending_applicants', job_id=job['id']) }}" class="btn btn-primary">
                                View Applicants
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
<br/> <br/> <br/> 
{% endblock %}