{% extends 'base.html' %} 
{% block title %}FAQ{% endblock %} 
{% block content %}

<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">Frequently Asked Questions</h1>
      
      <h2 class="card-subtitle text-primary mt-4">For Job Seekers</h2>
      
      <h3 class="card-text">What is Quickjobs Portal?</h3>
      <p class="card-text">Quickjobs Portal is a web-based platform designed to connect temporary job seekers with job opportunities.</p>
      
      <h3 class="card-text">How do I create an account?</h3>
      <p class="card-text">To create an account, click on the "select User", followed by "Create Account" link on the webpage and follow the instructions.</p>
      
      <h3 class="card-text">How do I apply for a job listing?</h3>
      <p class="card-text">To apply for a job, job seeker need to create an account and then click on the "Apply" button in their dashboard.</p>
      
      <h2 class="card-subtitle text-primary mt-4">For Employers</h2>
      
      <h3 class="card-text">How do I post a job listing?</h3>
      <p class="card-text">To post a job listing, employers need to create an account and then click on the "Create a new a Job" button in their dashboard.</p>
      
      <h3 class="card-text">How can I manage job applications?</h3>
      <p class="card-text">You can manage job applications by logging into your employer account and accessing the "View Applicants" on the job listing in your dashboard.</p>
    </div>
  </div>
</div>


<br/> <br/> <br/> 
{% endblock %}