{% extends 'base.html' %} {% block title %}Worker Dashboard{% endblock %}
<!-- style="padding-left: 100px;" -->
{% block content %}
<br/> 
<a href="{{ url_for('app_routes.worker_dashboard') }}" class="mb-3 px-lg-5">
    <i class="bi bi-arrow-left"></i> Back to Dashboard
</a>
    <div class="content">
        <h2>Apply for {{ job['title'] }}</h2>
        <p>Description: {{ job['description'] }}</p>
        <p>Wage: {{ job['wage'] }}</p>
        <p>Location: {{ job['location'] }}</p>
        
        <h3>Personal Information</h3>
        <form method="post" action="{{ url_for('app_routes.submit_job_apply', job_id=job['id']) }}">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" required><br>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br>
            <label for="phone">Phone:</label><br>
            <input type="tel" id="phone" name="phone" required><br>
            <input type="submit" value="Submit Application">
        </form>
    </div>
<br/> <br/> <br/> 
{% endblock %}
