{% extends 'base.html' %} {% block title %}Pending Applicants{% endblock %}
{% block content %}

{% include "components/employer_navbar.html" %}
<br/>
    <div class="content">
        <h2>Pending Applicants for {{ job['title'] }}</h2>
        {% if pending_applicants %}
        <table>
            <tr>
                <th>User ID</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
            {% for applicant in pending_applicants %}
            <tr>
                <td>{{ applicant['userid'] }}</td>
                <td>{{ applicant['name'] }}</td>
                <td>{{ applicant['email'] }}</td>
            </tr>
            {% endfor %}
        </table>

        {% else %}
            <p>No pending applicants.</p>
            <br/> <br/> <br/> <br/> <br/> <br/>  
        {% endif %}
    </div>
<br/> <br/> <br/> 
{% endblock %}
