<!DOCTYPE html>
<html>
<head>
    <title>Pending Applications</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="sidebar">
        <a href="{{ url_for('app_routes.logout') }}">Logout</a>
        <a href="#profile">Profile</a>
        <a href="{{ url_for('app_routes.worker_dashboard') }}">Dashboard</a>
    </div>
    <div class="content">
        <h2>Pending Applications</h2>
        <table>
            <tr>
                <th>Job Title</th>
                <th>Description</th>
                <th>Wage</th>
                <th>Location</th>
            </tr>
            {% for job in pending_jobs %}
            <tr>
                <td>{{ job['title'] }}</td>
                <td>{{ job['description'] }}</td>
                <td>{{ job['wage'] }}</td>
                <td>{{ job['location'] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
