<!-- pending_applicants.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Pending Applicants</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="sidebar">
        <a href="{{ url_for('app_routes.employer_dashboard') }}">Employer Dashboard</a>
        <a href="{{ url_for('app_routes.logout') }}">Logout</a>
    </div>

    <div class="content">
        <h2>Pending Applicants for {{ job['title'] }}</h2>

        <table>
            <tr>
                <th>User ID</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
            {% for applicant in pending_applicants %}
            <tr>
                <td>{{ applicant['userid'] }}</td>
                <td>{{ applicant['name'] }}</td>
                <td>{{ applicant['email'] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
