{% extends 'base.html' %} 
{% block title %}Pending Applications{% endblock %}

{% block content %}
    {% include "components/worker_navbar.html" %}

    <div class="container mt-5 pt-5">
        <h2>Pending Applications</h2>
        <br/>
        {% if pending_jobs %}
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Job Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Wage</th>
                        <th scope="col">Location</th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in pending_jobs %}
                        <tr>
                            <td>{{ job['title'] }}</td>
                            <td>{{ job['description'] }}</td>
                            <td>{{ job['wage'] }}</td>
                            <td>{{ job['location'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No pending applications.</p>
            <br/> <br/> <br/> <br/> <br/> <br/> 
        {% endif %}
    </div>
<br/> <br/> <br/> 
{% endblock %}
